extends layout

block content
  div(class="jumbotron call-to-action")
    .row
      .col
        h1(class="brand-color") Start the positive change you want to see in the world

  .container-fluid
    .row
      .col-sm
        h2(class="text-center") Create the positive change the world needs right now.
        p(class="text-center") The first app designed for social activists to easily create, manage, join, and share peaceful protests.
      .col-lg.my-auto
        a(href="/signup" class="btn btn-lg btn-block brand-color-background justify-content-center text-center")
          h3(class="py-4") PROTEST NOW
    .row(style="margin:10vh;")
      .col-lg
        .card(style='height: 35vh; margin: 10px')
          .card-body
            h5.card-title Create
            hr
            p.card-text
              | In minutes you can have a protest created and ready to share with the world. 
      .col-lg
        .card(style='height: 35vh; margin: 10px')
          .card-body
            h5.card-title Manage
            hr
            p.card-text
              | Get real time information about your protest from it's current progress to measuring participation.
      .col-lg
        .card(style='height: 35vh; margin: 10px')
          .card-body
            h5.card-title Join
            hr
            p.card-text
              | Find local protests in your area and join them with just the click of a button.
      .col-lg
        .card(style='height: 35vh; margin: 10px')
          .card-body
            h5.card-title Share
            hr
            p.card-text
              | Create a shareable link to easily share your protest with others.
    .row(style="margin:10vh;")
      .col
        h2(class="text-center") Start making the world a better place today!
        div(class="d-flex" style="margin:5vh;")
          a(href="/signup" class="btn btn-lg brand-color-background align-self-center mx-auto") JOIN NOW

