extends layout

block content
    .row
        .col
            img(src="/images/protest3.png", class="img-fluid", alt="Protest")
        .col
            .container
                h1 Sign Up
                form
                    .form-group
                        label(for='email') Email address
                        input#email.form-control(type='email' aria-describedby='emailHelp')
                    .form-group
                        label(for='password') Password
                        input#password.form-control(type='password')
                    .form-group
                        label(for='password2') Confirm Password
                        input#password2.form-control(type='password')
                    button(class="btn btn-primary btn-lg brand-color-background", type='submit') Submit