.brand-color{
    color: #ff9350;
}

.brand-color-background{
    background-color: #ff9350;
    border-color: #ff9350;
}

.brand-color-background:hover{
    color: #ff9350;
    background-color: white;
}

.jumbotron.call-to-action{
    width: 100%;
    min-height: 50vh;
    height: 10%;
    background-image: url("/images/protest.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #cccccc;

    background-blend-mode: screen;
}

p{
    font-size: 1.3rem;
}